:root {
  --background-color: #121212; /* Dark blackish grey */
  --secondary-background-color: #1e1e1e; /* Slightly lighter dark grey */
  --navbar-color: #212121; /* Dark grey for the navbar */
  --highlight-color: #ff4c60; /* Bright coral red for highlights */
  --text-color: #f5f5f5; /* Soft off-white for text */
  --muted-text-color: #bcbcbc; /* Muted light grey for secondary text */
  --button-hover: #e63946; /* Slightly darker red for hover effects */
  --border-color: #383838; /* Subtle grey border */
  --card-bg-color: #242424; /* Dark neutral grey for cards */
  --projects-background-color: #1e3a5f; /* Deep blue with subtle red undertone */
  --projects-text-color: #f2f5f7; /* Soft, off-white text */
  --projects-highlight-color: #6ab0f3; /* Light sky blue for highlights */
}

html {
  font-family: "Roboto Mono", sans-serif;
  color: var(--text-color);
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  border: 1px solid black;
  margin: 0;
  padding: 0;
}

section {
  width: 100%;
  height: 100vh;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 6%;
  padding-right: 5%;
  background-color: var(--highlight-color);
  height: 40px;
}

nav a {
  text-decoration: none;
  color: var(--text-color);
  font-weight: 500;
}

.nav-link-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 3px;
  border-radius: 2%;
  transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}

.nav-link-container:hover {
  background-color: var(--projects-highlight-color);
}

.title {
  font-size: 48px;
}

.sub-title {
  font-size: 40px;
}

/* First intro section */

#welcome-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 3%;
  background-color: var(--background-color);
}

.intro {
}

#sub-intro {
  color: var(--highlight-color);
  font-weight: 500;
}


/* second project section */
#projects {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  background-color: var(--projects-background-color)
}

#projects .title {
  text-decoration: underline;
}

/* Third Contact Section */
#contact {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--secondary-background-color)
}

#contact svg {
  height: 48px;
  width: 48px;
  cursor: pointer;
}

.logos {
  display: flex;
  width: 80%;
  justify-content: space-evenly;
}