:root {
  --background-color: #121212; /* Dark blackish grey */
  --secondary-background-color: #1e1e1e; /* Slightly lighter dark grey */
  --navbar-color: #212121; /* Dark grey for the navbar */
  --highlight-color: #ff4c60; /* Bright coral red for highlights */
  --text-color: #f5f5f5; /* Soft off-white for text */
  --muted-text-color: #bcbcbc; /* Muted light grey for secondary text */
  --button-hover: #e63946; /* Slightly darker red for hover effects */
  --border-color: #383838; /* Subtle grey border */
  --card-bg-color: #242424; /* Dark neutral grey for cards */
  --projects-background-color: #1e3a5f; /* Deep blue with subtle red undertone */
  --projects-text-color: #f2f5f7; /* Soft, off-white text */
  --projects-highlight-color: #6ab0f3; /* Light sky blue for highlights */
  --projects-card-color: #303841; /* soft slate grey */
}

html {
  font-family: "Roboto Mono", sans-serif;
  color: var(--text-color);
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  border: 1px dashed black;
  margin: 0;
  padding: 0;
}

section {
  width: 100%;
  min-height: 100vh;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 6%;
  padding-right: 5%;
  background-color: var(--highlight-color);
  height: 40px;
}

nav a {
  text-decoration: none;
  color: var(--text-color);
  font-weight: 500;
}

.nav-link-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 3px;
  border-radius: 2%;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.nav-link-container:hover {
  background-color: var(--projects-highlight-color);
}

.title {
  font-size: 48px;
}

.sub-title {
  font-size: 40px;
}

/* First intro section */

#welcome-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 3%;
  background-color: var(--background-color);
}

.intro {
}

#sub-intro {
  color: var(--highlight-color);
  font-weight: 500;
}

/* second project section */
#projects {
  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: 20px;
  padding-bottom: 30px;
  padding-top: 20px;
  width: 100%;
  background-color: var(--projects-background-color);
}

#projects .sub-title {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 5px;
  width: 20vw;
}

.full-stack_projects {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 20px;
  justify-content: space-evenly;
  width: 75vw;
  padding: 10px;
}

.full-stack_projects a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 10px;
  padding: 10px 10px 15px 10px;
  width: 30vw;
  text-decoration: none;
  color: inherit;
  background-color: var(--projects-card-color);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.full-stack_projects a:visited,
.full-stack_project a:hover {
  color: inherit;
}

.full-stack_projects a:hover {
  transform: translateY(-10px);
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.7);
}

.project-caption {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 10px;
}

.project-title {
  font-size: 25px;
  margin-top: -2px;
  align-self: flex-start;
}

.open-caption,
.close-angle {
  font-size: 18px;
}

.forward-slash {
  align-self: flex-start;
  font-weight: 800;
  font-size: 33px;
  margin-top: -10px;
  margin-right: -4px;
}

.open-caption,
.close-caption {
  visibility: hidden;
  color: #ff4040;
  opacity: 0;
  transition: visibility 0.2s, opacity 0.3s ease-in-out;
}

.close-caption {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.project:hover .open-caption,
.project:hover .close-caption {
  visibility: visible;
  opacity: 1;
}

.full-stack_projects img {
  width: 100%;
  border: 1px solid black;
}

#projects .title {
  text-decoration: underline;
}

.front_back_sections {
  display: flex;
  flex-direction: row;
}



/* Third Contact Section */
#contact {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10%;
  background-color: var(--secondary-background-color);
}

.logos {
  display: flex;
  width: 70%;
  justify-content: space-evenly;
}

#contact a {
  height: 48px;
  width: 48px;
  cursor: pointer;
  text-decoration: none;
  color: inherit;
  transition: transform 0.5s ease;
}

#contact a:hover {
  transform: translateY(5px);
}

#contact svg {
  height: 100%;
  width: 100%;
  filter: drop-shadow(2px 1px 4px rgba(255, 255, 255, 0.3));
}
